.img {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.gh-button {
  color: #ffffff;
  background-color: #000000;
  font-size: 19px;
  border: 1px solid #000000;
  padding: 15px 50px;
  cursor: pointer
}
.gh-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.cardTitle {
  font-size: 36px;
  line-height: 26pt
}
