<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Hi! I'm Mitchell
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
  <mat-card-content class="d-flex">
    <div class="col-md-6">
      <img mat-card-image src="\assets\Me.png" alt="Mitchell Zinck" class="img">
      <div>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit dolor purus. Integer est orci, fermentum ut mauris ut, varius pellentesque nisi. Nam dapibus libero non urna molestie rhoncus. Proin fringilla purus eget ultrices consequat. Nullam et laoreet velit, eget tincidunt odio. Nam blandit vitae nisl a pulvinar. Donec cursus, justo nec porttitor aliquet, metus felis lobortis turpis, a tempus est ipsum id tellus. Fusce pulvinar, sapien nec faucibus egestas, nisi mi auctor sapien, a molestie nisl turpis id urna. Praesent eget ante placerat, molestie odio et, ornare ligula. Phasellus auctor, arcu tempus malesuada feugiat, est tellus hendrerit ligula, et cursus velit urna vel libero.
      </div>

    </div>
    <div class="col-md-6">
      test
    </div>

  </mat-card-content>


    <div>Card Content Here</div>


  </mat-card-content>
</mat-card>
